/* 1. header

*/

.wrapper{
  width: 1160px;
  margin:0 auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 1040px;
  margin:0 auto;
}

/* header
===========================*/

.page-header{
  background-color: #f7e296;
  margin:40px auto 0;
  min-height: 300px;
}

.page-logo{
  margin-top:-25px;
}
.page-logo a{
  color: #000;
  font-size: 48px;
  font-family: "Gilroy",sans-serif,serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.search-on-site{
  display: inline-block;

}
input[type="search"]{
  background-color: inherit;
  outline: none;
}

.special-menu{
  outline: 1px solid green;
  display: inline-block;
  float:right;
}

.special-menu ul{
  padding:0;
  margin:0;
}
.special-menu li{
  display: inline-block;
  margin-right: 70px;
}
.special-menu li:last-child{margin-right:0}
.special-menu li:first-of-type{
  margin-right: 180px;
}
.special-menu a{
  text-decoration: none;
  color:#000;
  font-size: 15px;
  font-family: "Open Sans",sans-serif,serif;
}

.catalog{
  margin-top: 40px;
  display:inline-block;
  outline: 1px solid maroon;
}
.catalog__title{
  color:#000;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gilroy", sans-serif,serif;
}
.catalog__menu--hidden{display:none}

.main-nav__list{
  margin-top: 40px;
  float:right;
  padding:0;
}

.main-nav__list li{
  display: inline-block;
}

.main-nav__list a{
  color:#000;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: "Gilroy", sans-serif,serif;
}

.main-nav__list li:last-child{margin-right:0;margin-left: 50px}
.main-nav__list li{
  margin-right: 35px;
}



/* slider
=============================*/
.slider__img{
  margin-top:-100px;
  margin-left:25px;
  outline: 1px solid black;
}

.slider__inner-wrapper{
  width: 500px;
  outline: 1px solid red;
  float:right;
}

.product-features__item{display:inline-block;}

/* popular-section
=============================*/
.popular-section{
  display: inline-block;
}


/* services
=============================*/
.services{
  background-color: #e5e5e5;
}
.services__list{
  float:left;
}
.services__item{
  list-style-type:none;
  padding-bottom:25px
}
.services__item a{
  text-transform: uppercase;
  text-decoration: none;
}
.services__info{
  width: 700px;
  float:right;
  outline: 1px dotted black;
}

/* about-us
============================*/
.about-us{
  width: 560px;
  outline:dotted 1px black;
  float:left;
}
.contacts{
  width: 560px;
  float:right;
  outline:dotted 1px blue;
}

/* footer
============================*/

.page-footer{
  background-color: #464646;
}

.footer-logo a{
  text-decoration: none;
  color:#f7e184;
  text-transform: uppercase;
}

.page-footer__contacts p{
  font-size: 15px;
  font-family: "Open Sans",sans-serif,serif;
  color:#fff;
}

.footer-nav__list{list-style-type: none;}
.footer-nav__list li{display: inline-block;}
.footer-nav__item a{
  text-decoration: none;
  color:#fff;
  text-transform: uppercase;
}
