/* 1. header

*/

.wrapper{
  width: 1160px;
  margin:0 auto;

}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 1040px;
  margin:0 auto;
}

/* header
==================================================*/

.page-header{
  background-color: #f7e296;
  margin:40px auto 0;
  min-height: 300px;
}
.page-header__index{
  min-height: 185px;
}

.page-logo{
  position: relative;
  top:-27px;
}
.page-logo a:hover{color:#444;}
.page-logo a:active{color:#666;}
.page-logo a{
  color: #000;
  font-size: 48px;
  font-family: "Gilroy-bold",sans-serif,serif;
  text-transform: uppercase;
  text-decoration: none;
}

.search-on-site{
  display: inline-block;
  margin-left: 40px;

}
input[type="search"]{
  background-color: inherit;
  outline: none;
}

.special-menu{
  display: inline-block;
  float:right;
  margin-top: -4px;
}
.special-menu__list a:hover{opacity:0.6}
.special-menu__list a:active{opacity:0.3}
.special-menu ul{
  padding:0;
  margin:0;
}
.special-menu li{
  display: inline-block;
  margin-right: 54px;
}
.special-menu li:last-child{margin-right:0}
.special-menu li:first-of-type{
  margin-right: 233px;
}
.special-menu a{
  text-decoration: none;
  color:#000;
  font-size: 15px;
  font-family: "Open Sans",sans-serif,serif;
}

.catalog{
  margin-top: 36px;
  display:inline-block;
}
.catalog__title:hover{opacity:0.6;}
.catalog__title{
  color:#000;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gilroy-bold", sans-serif,serif;
}
.catalog__menu--hidden{display:none}

.main-nav__list{
  margin-top: 36px;
  float:right;
  padding:0;
  position: relative;
}
.main-nav__list--underline::after{
  content: "";
  display: block;
  width: 99px;
  height: 7px;
  position: absolute;
  bottom: -96px;
  background-color: white;
}

.main-nav__list li{
  display: inline-block;
}
.main-nav__list a:hover{opacity:0.6;}
.main-nav__list a:active{opacity:0.3;}
.main-nav__list a{
  color:#000;
  letter-spacing: 1.5px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: "Gilroy-bold", sans-serif,serif;
}

.main-nav__list li:last-child{margin-right:0;margin-left: 50px}
.main-nav__list li{
  margin-right: 63px;
}



/* slider
==================================================*/
.slider__img{
  margin-top: -110px;
  margin-left: 32px;
}

.slider__inner-wrapper{
  width: 500px;
  float:right;
}
.slider__title::after{
  content: "01";
  position: absolute;
  top: -107px;
  right: -12px;
  font-size: 178px;
  font-family: "Gilroy-bold", sans-serif,serif;
  color:white;

}
.slider__title{
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 47px;
  margin:0;
  position: relative;
  top: -28px;
}

.slider__descr{
  margin:0;
  font-family: "OpenSans",sans-serif,serif;
  font-size: 15px;
  line-height: 23px;
}
.slider__more-info{
  margin-top: 58px;
  display: block;
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color:#000;
}
.slider__more-info a{

}
.product-features{
  margin-top: 64px;
}
.product-features__item{

  display:inline-block;
  width: 145px;
}
.product-features__value{
  font-size: 36px;
  font-family: "Gilroy",sans-serif,serif;
}
.product-features__descr{
  margin-top: 13px;
  display: inline-block;
  font-size: 13px;
  font-family: "OpenSans",sans-serif,serif;
}

/* popular-section
==================================================*/
.popular-sections{
  font-size: 0;
}
.popular-section:last-child{
  margin-right: 0px;
}
.popular-section{
  display: inline-block;
  vertical-align: top;
  margin-top:100px;
  margin-right: 42px;
  width: 158px;
}
.popular-section__img-block{
  margin-bottom:38px;
}

.popular-section__title{
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 18px;
  color:#000;
  text-decoration: none;

}
.social-links__item{
  font-size: 0;
}


/* services
==================================================*/
.services{
  background-color: #e5e5e5;
  margin-top: 182px;
  height: 288px; /*--- по другому не смог сжать высоту блока, не понял че он так вытянулся, а min-height не работает ---*/
}
.services__list{
  float:left;
  position:relative;
  top:-25px;
}
.services__item{
  list-style-type:none;
  margin-bottom:45px;

}
.services__item a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: "Gilroy-bold",sans-serif,serif;
  color:#000;
}
.services__info{
  width: 753px;
  float:right;
  position: relative;
  top: -68px;

}

.services__title{
  font-size: 47px;
  font-family: "Gilroy-bold",sans-serif,serif;
  margin-bottom: 30px;
}
.services__text{
  width: 430px;
  display:block;
  font-family: "OpenSans",sans-serif,serif;
  font-size: 15px;
  line-height: 30px;
}
.services__img{
  float:right;
  position: relative;
  margin-right: 62px;
  top: -171px;
}
/* logotypes
==================================================*/

.logotypes {
  margin-top: 273px;
}


/* about-us
==================================================*/
.about-us{
  width: 560px;
  float:left;
}
.contacts{
  width: 560px;
  float:right;
}

.about-us__title, .contacts__title{
  font-size: 47px;
  font-family: "Gilroy-bold",sans-serif,serif;
  letter-spacing: 0.01em;
}

.about-us__text, .contacts__text{
  font-size: 15px;
  font-family: "OpenSans",sans-serif,serif;
  line-height: 30px;
  margin-bottom: 35px;
}

.about-us__list{
  display:inline-block;
  margin-top: 15px;
}
.about-us__list li{
  margin-top:20px;
}
.about-us__list a{
  color:#000;
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 16px;
  text-decoration: none;
}

.about-us__link, .contacts__link{
  display: block;
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color:#000;
  margin:57px 0 91px 21px;
  letter-spacing: 0.2em;
}
.contacts__map img{
  margin-bottom: 25px;
}

/* footer
==================================================*/

.page-footer{
  min-height: 320px;
  background-color: #464646;
}
.footer-logo::after{
  content: "";
  display: block;
  width: 81px;
  height: 7px;
  position: absolute;
  bottom: -133px;
  background-color: #ffe27f;
}
.footer-logo a:hover{color:#ffc600;}
.footer-logo a:active{color:#ffc600;
  opacity:0.3;
}
.footer-logo{
    padding-top: 56px;
    display: inline-block;
    position: relative;
}

.footer-logo a{
  text-decoration: none;
  color:#f7e184;
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Gilroy-bold",sans-serif,serif;
}
.page-footer__contacts{
  margin-top: 12px;
}
.page-footer__contacts p{
  font-size: 15px;
  font-family: "OpenSans",sans-serif,serif;
  color:#fff;
}
.footer-flex-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-menu{
  margin-top: 71px;
}
.footer-menu a{
  color:#fff;
}

.special-menu.footer-menu li:first-of-type{
  margin-right: 70px;
}

.footer-nav{
  margin-top: 12px;
}
.footer-nav__list{
  list-style-type: none;
  /*display: block;*/
}
.footer-nav__list li{
  margin-right: 45px;
  display: inline-block;
}
.footer-nav__item a:hover{
  opacity: 0.6;
}
.footer-nav__item a:active{
  opacity: 0.3;
}
.footer-nav__item a{
  text-decoration: none;
  color:#fff;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "Gilroy-bold",sans-serif,serif;
}

.social-links{
  /*width: 210px;
  margin: 47px auto 0;*/
  display:flex;
  justify-content: center;
}
.social-links li{
  display: inline-block;
  margin-left: 12px;
}
.htmlacademy-logo{
  display: flex;
  justify-content: flex-end;
}
.phone-number{
  margin-top: 27px;
  font-size: 15px;
  font-family: "OpenSans",sans-serif,serif;
  color:#fff;

}


/*.page-footer{
  min-height: 320px;
  background-color: #464646;
}
.footer-logo::after{
  content: "";
  display: block;
  width: 81px;
  height: 7px;
  position: absolute;
  bottom: -133px;
  background-color: #ffe27f;
}
.footer-logo a:hover{color:#ffc600;}
.footer-logo a:active{color:#ffc600;
  opacity:0.3;
}
.footer-logo{
  margin-top: 56px;
  float: left;
  position: relative;
}

.footer-logo a{
  text-decoration: none;
  color:#f7e184;
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Gilroy-bold",sans-serif,serif;
}
.page-footer__contacts{
  margin-top: 122px;
  display: inline-block;
}
.page-footer__contacts p{
  font-size: 15px;
  font-family: "OpenSans",sans-serif,serif;
  color:#fff;
}

.footer-menu{
  margin-top:68px;
}
.footer-menu a{
  color:#fff;
}

.special-menu.footer-menu li:first-of-type{
  margin-right: 70px;
}

.footer-nav{
display: inline-block;
}
.footer-nav__list{list-style-type: none;display: block;
}
.footer-nav__list li{
  margin-right: 45px;
  display: inline-block;
}
.footer-nav__item a:hover{
  opacity: 0.6;
}
.footer-nav__item a:active{
  opacity: 0.3;
}
.footer-nav__item a{
  text-decoration: none;
  color:#fff;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "Gilroy-bold",sans-serif,serif;
}

.social-links{
  width: 250px;
  margin:0 auto
}
.social-links li{
display:inline-block;
}
.htmlacademy-logo{float:right;}
.phone-number{
  float: right;
  font-size: 15px;
  font-family: "OpenSans",sans-serif,serif;
  color:#fff;

}
*/
/*catalog
==================================================*/

.breadcrumbs{
 padding:0;
 margin:0;
}

.breadcrumbs li{
  list-style-type: none;
  display: inline-block;
}
.breadcrumbs a{
  color:#464646;
  font-size: 14px;
  text-decoration: none;
  margin-right: 25px;
}

/*navigation
==================================================*/
.catalog-nav__title{
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 47px;
  letter-spacing: 0.01em;
  padding-top: 4px;
  margin-bottom: 24px;
}

/*filter
==================================================*/
.product-filter{
  background-color: #efefef;
  width: 270px;
  float:left;
  margin-left:60px;
  margin-top: 50px;
  min-height: 1280px;
}

.product-filter__title,.content-sort__title{
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1px;
  padding: 25px 0;
}

.range-filter{
  margin-top: 70px;
  border-top: 2px solid black;
  margin-right: 69px;
  padding-bottom: 39px;
}
.range-filter__title{
  margin-top: 12px;
}
.range-filter__controls{
  position: relative;
  height: 25px;

  border-radius: 5px;
  overflow: hidden;
}
.scale{
  margin-top:17px;
  height:2px;
  background:#dcdcdc;
}
.bar{
  height:2px;
  background:#72ca00;
  margin-left:12px;
  width:100px;
  }
.toggle{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #000000;
  background: #efefef;
  cursor: pointer;
  border-radius: 50%;
  top: 11px;
}
.min-toggle{
  left:-1px;
}
.max-toggle{
  left: 111px;
}
.range-filter__title{

}
.range-filter__price input{
  margin-right: 16px;
  margin-left: 4px;
  margin-top: 6px;
  width: 43px;
  border: none;
  font-size: 14px;
  font-family: "Gilroy",sans-serif,serif;
  text-align: left;
  border-radius: 5px;
  background-color: inherit;

}
.color-filter{
  border-top:2px solid black;
  margin-right: 69px;
}

input[type="checkbox"]{
  display: block;
}
.bluetooth-filter{
  margin-top:78px;
  border-top:2px solid black;
  margin-right: 69px;
}
.content-sort__title{
 float:left;
}

button{
  border:none;
  margin-top: 105px;
  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: inherit;
  letter-spacing: 0.1em;
  color: #000;
}
/*catalog-content
==================================================*/


.content-sort__title{
  margin-bottom:0;
}
.catalog-list{
  margin-top: 70px;
}
.catalog-content{
  float:right;
  width: 759px;
  margin-top: 50px;
}
.content-sort{
  background-color: #ebebeb;
}
.sort-up-down{float:right}
.content-sort__list{
  padding-top: 25px;
  margin: 0;
  display: inline-block;
  margin-left: 19px;
}
.content-sort__item a{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color:#000;
  text-decoration: none;
}
.content-sort__list li{
  list-style-type: none;
  display: inline-block;
  margin-right:26px;
}
.catalog-item:nth-child(even){margin-right: 0;}
.catalog-item{
  float: left;
  margin-right: 39px;
  margin-bottom: 60px;
}
.catalog-item__title a{

  width: 256px;
  float:left;
}
.catalog-item__price {
    margin-left: 21px;
}
.catalog-item__title a, .range-filter__title, .color-filter__title, .bluetooth-filter__title{
  font-size: 18px;
  font-family: "Gilroy-bold",sans-serif,serif;
  letter-spacing: 0.01em;
  text-decoration: none;
  color:#000;
}
.catalog-item__descr span{
  color:#efefef;
  font-size: 16px;
}
.pages-control{
  width:760px;
  margin:0 auto;
  padding: 8px 0px;
  background-color: #ebebeb;
}
.pages-control__item{
  list-style-type: none;
  display: inline-block;
}
.pages-control__item a{

  font-family: "Gilroy-bold",sans-serif,serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: inherit;
  letter-spacing: 0.1em;
  color: #000;

}

/*fonts
==================================================*/
@font-face {
    font-family: "Gilroy"; /* Имя шрифта */
    src: url(../fonts/Gilroylight.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
   font-family: "Gilroy-bold"; /* Имя шрифта */
   src: url(../fonts/Gilroyextrabold.ttf); /* Путь к файлу со шрифтом */
  }
@font-face {
    font-family: "OpenSans"; /* Имя шрифта */
    src: url(../fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
   font-family: "OpenSans-regular"; /* Имя шрифта */
   src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
  }
