
.wrapper{
  max-width: 1160px;
  padding: 0px 20px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1040px;
  margin:0 auto;
  padding:0 20px;
}

.write-us-popup__close-bg::before,
.write-us-popup__close-bg::after{
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #fff;
  top: 0px;
  left: -15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.write-us-popup__close-bg::after{
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}
.write-us-popup__close-bg{

  position: relative;
}
.write-us-popup__close:active {
  outline: none;
}
.write-us-popup__close:active .write-us-popup__close-bg::before,
.write-us-popup__close:active .write-us-popup__close-bg::after{
  background-color: #ffd74d;
}
.write-us-popup__close:hover{
  background-color: #ffc600;
}
.write-us-popup__close{
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #ffe27f;
}

.write-us-popup{
  background-color: #fff;
  z-index: 2;
  display: none;
  position: fixed;
  left: 50%;
  top: 10%;
  width: 960px;
  margin:0 auto;
  margin-left:-480px;
  padding: 100px;
  box-sizing: border-box;
  box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
}

.write-us-form.clearfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.write-us-form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.write-us-form__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.write-us-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top:30px;
}
.write-us-popup-show{
  display: block
}
.modal-content-map{display: none;}
.modal-content-map-show{
  display: block;
}
.write-us-form__text,
.write-us-form__email,
.write-us-form__name{
  font-size: 18px;
  line-height: 18px;
  font-family: "Gilroy-bold","Arial", sans-serif;
}

.write-us-form__name-input:hover,
.write-us-form__email-input:hover,
.write-us-form__text-textarea:hover{
  background-color: #ececec;
  border: 4px solid #ececec;
}

.write-us-form__name-input:focus,
.write-us-form__email-input:focus,
.write-us-form__text-textarea:focus{
  background-color: inherit;
}

.write-us-form__name-input,
.write-us-form__email-input,
.write-us-form__text-textarea{
  width: 340px;
  background-color: #f2f2f2;
  border:none;
  padding: 15px 0 15px 20px;
  font-family: "OpenSans","Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color:#444444;
  border: 4px solid #f2f2f2;
  margin-right: 24px;
  margin-top:10px;
  outline: none;
}

.write-us-form__email-input{
  margin-right: 0;
}

.write-us-form__text-textarea{
  width: 740px;
  margin-top:10px;
}

.button-popup{
  margin-top: 34px;
  padding: 10px 35px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.modal-content-map{
  z-index: 20;
  width: 960px;
  height: 560px;
  position: fixed;;
  top: 50%;
  left: 50%;
  background: #e9e5dc url("../img/map-big.jpg");
  margin-left: -480px;
  margin-top: -280px;
  box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
}
.modal-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
/* header
==================================================*/

.page-header{
  background-color: #f7e296;
  margin:40px auto 0;
  padding: 0 60px;
  min-height: 300px;
}

.page-header--catalog{
  min-height: inherit;
}

.page-header__index{
  min-height: 185px;
}

.page-logo{
  position: relative;
  top:-27px;
}

.page-logo a:hover{
  color:#444;
}

.page-logo a:active{
  color:#666;
}

.page-logo a{
  color: #000;
  font-size: 48px;
  font-family: "Gilroy-bold","Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.search-on-site{
  position: relative;
  display: inline-block;
  background-color: ##f7e296;
  vertical-align: top;
  color:rgba(0,0,0, 0.3);
  font-family: "OpenSans","sArial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  top:-16px;
}



.search-on-site__button:hover{
  color:rgba(255,255,255, 1);
  background-color: #000;
  display:block;
}
.search-on-site__button:active{
  color:rgba(255,255,255, 0.6);
}
.search-on-site__button{
  margin: 0;
  font-family: "OpenSans","Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: capitalize;
  padding: 1px 10px;
  outline: 2px solid #000;
  position: absolute;
  top: 0px;
  left: 353px;
  display:none;
}

.search-field:focus + .search-on-site__button{
  display:block;
}

.search-field:focus{
  border-bottom:2px solid black;
  margin-bottom:-2px;
  color:rgba(0,0,0, 1);
}

.search-field{
  background-color: #f7e296;
  outline: none;
  border:none;
  padding: 1px 170px 1px 35px;
  font-family: "OpenSans","Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
}


.search-field::-webkit-input-placeholder{
  color:rgba(0,0,0, 0.4);
}
.search-field::-moz-placeholder{
  color:rgba(0,0,0, 0.4);
}
.search-field:-moz-placeholder{
  color:rgba(0,0,0, 0.4);
}
.search-field:-ms-input-placeholder{
  color:rgba(0,0,0, 0.4);
}
.search-field:hover::-webkit-input-placeholder{
  color:rgba(0,0,0, 0.6);
}
.search-field:hover::-moz-placeholder{
  color:rgba(0,0,0, 0.6);
}
.search-field:hover:-moz-placeholder{
  color:rgba(0,0,0, 0.6);
}
.search-field:hover:-ms-input-placeholder{
  color:rgba(0,0,0, 0.6);
}

.special-menu{
  float:right;
  margin-top: -4px;
}

.special-menu__list a:hover{
  opacity: 0.6;
}

.special-menu__list a:active{
  opacity: 0.3;
}

.special-menu ul{
  padding:0;
  margin:0;
}

.special-menu li{
  display: inline-block;
  vertical-align: top;
  margin-right: 49px;
  position: relative;
}

.special-menu li:last-child{
  margin-right:0
}

.special-menu li:first-of-type{
  width: 228px;
}

.special-menu--login li:first-of-type{
  margin-right: 50px;
}

.user-block__logout{
  padding-left: 14px;
  opacity: 0.3;
}

.user-block{
  width: 228px;
  position: relative;
}

.special-menu a{
  text-decoration: none;
  color: rgba(0,0,0, 1);
  font-size: 15px;
  letter-spacing: 0.02em;
  font-family: "Open Sans","Arial", sans-serif;
}

.page-header--catalog .catalog{
  margin-bottom:50px;
}

.catalog{
  display:inline-block;
  vertical-align: top;
  position: relative;
}

.catalog__title::before{
  position: absolute;
  content: "";
  width: 2px;
  height: 18px;
  top: 0;
  right: -25px;
  background-color: #bda762;
}

.catalog__title::after{
  position: absolute;
  content: "";
  width: 2px;
  height: 18px;
  top: 0;
  right: -25px;
  background-color: #bda762;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.catalog:hover .catalog__title::before{
  left: 242px;
}

.catalog:hover .catalog__title::after{
  left: 242px;
}

.catalog:hover  .catalog__menu--hidden{
  background-color: #f7e296;
  display:block;
}

.catalog:hover{
  color: rgba(0,0,0, .6);
}



.catalog__title:hover{
  color: rgba(0,0,0, 0.6);
}

.catalog__title{
  color: rgba(0,0,0, 1);
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Gilroy-bold", "Arial", sans-serif;
  position: relative;
}

.catalog__menu--hidden{
  width: 203%;
  display: none;
  z-index: 3;
  position: relative;
  margin-bottom: -28px;
  padding-bottom: 28px;
}

.catalog__list{
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  margin-right: 30px;
}

.catalog__item{
  list-style-type: none;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.02em;
  font-family: "Open Sans","Arial", sans-serif;
}

.catalog__item a:hover{
  color: rgba(0,0,0, 0.6);
}

.catalog__item a:active{
  color: rgba(0,0,0, 0.3);
}

.catalog__item a{
  color: rgba(0,0,0, 1);
  text-decoration: none;
}

.main-nav{
  margin-top: 23px;
}

.main-nav__list {
  float: right;
  padding: 0;
  margin: 0;
  font-size: 0;
  width: 500px;
}

.main-nav__list li{
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Gilroy-bold", "Arial", sans-serif;
}

.main-nav__list a:hover{
  color: rgba(0,0,0, .6);
}

.main-nav__list a:active{
  color: rgba(0,0,0, .3);
}

.main-nav__list a{
  color: rgba(0,0,0, 1);
  text-decoration: none;
  display: block;
}

.main-nav__item:last-child {
  margin-left: 67px;
  margin-right: -11px;
}

.main-nav__item{
  margin-right: 37px;
}

.catalog__title:active{
  color: rgba(0,0,0, 0.3);
}
/* slider
==================================================*/

.slider-wrapper{
 position: relative;
}

.slider{
  display: none
}

.slider02, .slider03{
  display: none
}

.slider__img{
  margin-top: -112px;
  padding-left: 92px;
}

.slider02 .slider__img{
  margin-top: -99px;
  margin-left: 27px;
  margin-bottom: -9px;
}

.slider03 .slider__img{
  margin-top: -47px;
  margin-bottom: 90px;
  margin-left: -60px;
}

.slider__inner-wrapper{
  width: 561px;
  float:right;
  position: relative;
}

.slider02, .slider03{
  margin-bottom:-3px;
}

.slider03 .slider__inner-wrapper{
  width: 561px;
}

.slider__title::before{
  content: "";
  display: block;
  width: 99px;
  height: 7px;
  position: absolute;
  top: -44px;
  right: 458px;
  background-color: #fff;
}

.slider__title::after{
  content: "01";
  position: absolute;
  top: -110px;
  right: 47px;
  font-size: 178px;
  font-family: "Gilroy-bold", "Arial", sans-serif;
  color:white;
}

.slider02 .slider__title::after{
  content: "02";
  right: -95%;
}

.slider03 .slider__title::after{
  content: "03";
  right: 49px;
  top: -111px;
  position: absolute;
  z-index: -1;
}

.slider__title{
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
  margin:0;
  margin-bottom:-10px;
  position: relative;
  top: -31px;
  position: relative;
  z-index: 2;
}

.slider02 .slider__title{
  width:260px
}

.slider__title--slider02::before{
  right: 157px;
}

.slider__descr{
  margin: 0;
  font-family: "OpenSans","Arial", sans-serif;
  font-size: 15px;
  letter-spacing: 0.01em;
  margin-bottom: 43px;
  line-height: 30px;
}

.slider__more-info{
  padding: 10px 35px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"] {
  opacity: 1;
}

#btn-1:checked ~  #slide1,
#btn-2:checked ~  #slide2,
#btn-3:checked ~  #slide3 {
  display: block;
}

.slider-btn{
  display: none;
}

.slider__controls{
  position: absolute;
  top: 217px;
  right: 23%;
  z-index: 2;
}

.slider__controls label:hover{
  opacity: 0.5;
}

.slider__controls label{
  display:inline-block;
  vertical-align: top;
  width: 4px;
  height: 4px;
  margin-right: 15px;
  background-color: transparent;
  border: 3px solid #000;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
}

.product-features{
  margin-top: 54px;
  font-size: 0;
}

.product-features__item{
  display:inline-block;
  vertical-align: top;
  margin-right: 81px;
}

.slider03 .product-features__item{
  width: 157px;
}

.product-features__value{
  font-size: 36px;
  font-family: "Gilroy","Arial", sans-serif;
}

.slider02 .product-features__value{
  width: 557px;
}

.product-features__descr{
  margin-top: 13px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-family: "OpenSans","Arial", sans-serif;
}

/* popular-section
==================================================*/

.popular-sections{
  font-size: 0;
  padding-top: 100px;
  padding-bottom: 186px;
}

.popular-section:nth-child(6n){
  margin-right: 0px;
}

.popular-section{
  display: inline-block;
  vertical-align: top;
  margin-right: 42px;
  width: 158px;
}

.popular-section__img-block:active + .popular-section__title{
  opacity: 0.3;
}

.popular-section__img-block:active  img{
  opacity: 0.3;
}

.popular-section__img-block:hover{
  background-color: #ffc600;
}

.popular-section__img-block img{
  width: 160px;
  height: 160px;
}

.popular-section__img-block{
  margin-bottom:38px;
  background-color: #ffe27f;
}

.popular-section__title{
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 18px;
  letter-spacing: 0.02em;
  color:#000;
  text-decoration: none;
}

.social-links__item{
  font-size: 0;
}

/* services
==================================================*/

.services{
  background-color: #e5e5e5;
}

.services__list::before{
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  color: black;
  top: -81px;
  right: -46px;
  background-color: #000;
}

.services__list {
  float: left;
  width: 238px;
  position: relative;
  top: -20px;
}

.services input[type=radio] {
  position: absolute;
  opacity: 0;
}

.services__label::before {
  content: "";
  width: 100%;
  height: 8px;
  top: 15px;
  left: 0;
  background-color: #ffc600;
  position: absolute;
  z-index: -1;
}

.services__label:hover.services__label::before{
  height: 100%;
  top: 0;
}

.services__label:hover{
  cursor: pointer;
}

.services__label {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-family: "Gilroy-bold","Arial", sans-serif;
  color: #000;
  width: 131px;
  padding: 9px 0 9px 32px;
  vertical-align: top;
  display: block;
  margin-bottom: 27px;
}

#services__btn-1:checked ~ .wrapper label[for="services__btn-1"],
#services__btn-2:checked ~ .wrapper label[for="services__btn-2"],
#services__btn-3:checked ~ .wrapper label[for="services__btn-3"] {
  background-color: #000;
  color: #ffe27f;
  width: 248px;
}

#services__btn-1:checked ~ .wrapper #slider-s1,
#services__btn-2:checked ~ .wrapper #slider-s2,
#services__btn-3:checked ~ .wrapper #slider-s3 {
  display: block;
}

.slider-s{
  display:none;
}

.services__item{
  list-style-type:none;
  margin-bottom: 27px;
  position: relative;
}

.services__item::before{
  position: absolute;
  content:"";
  background-color: yellow;
  width:auto;
  height: 10px;
  left:0;
  top:50%;
}

.services__item a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-family: "Gilroy-bold","Arial", sans-serif;
  color: #000;
  display: inline-block;
  vertical-align: top;
  width: 131px;
  padding: 9px 22px;
  text-align: center;
  background-color: #ffc600;
}

.services__item--active a{
  color: #ffc600;
  background-color: #000;
  width: 235px;
  text-align: left;
}

.services__info {
  width: 759px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  float: right;
  padding-bottom: -8px;
}

.services-slide01,
.services-slide02,
.services-slide03 {
  margin-top: 39px;
  padding-bottom: 61px;
}

.services-slide01{
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 558px 30px;
}

.services-slide02{
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: 558px 6px;
}

.services-slide03{
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 558px 6px;
}

.services__title{
  font-size: 47px;
  letter-spacing: 0.02em;
  font-family: "Gilroy-bold","Arial", sans-serif;
  margin-bottom: 30px;
  margin-top: -19px;
  padding-top: 20px;
}

.services__text{
  width: 450px;
  display:block;
  font-family: "OpenSans","Arial", sans-serif;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 30px;
}


/* logotypes
==================================================*/

.logotypes {
  padding-bottom: 100px;
  padding-top: 93px;
}

.logotypes__img:nth-child(4n){
  margin-right: 0;
}

.logotypes__img:hover{
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.logotypes__img img{
  width: 260px;
  height: 100px;
}
.logotypes__img{
  margin-right: 35px;
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

#services__btn-1:checked ~ .wrapper label[for="services__btn-1"]::before,
#services__btn-2:checked ~ .wrapper label[for="services__btn-2"]::before,
#services__btn-3:checked ~ .wrapper label[for="services__btn-3"]::before{
  display: none;
}

/* about-us
==================================================*/

.about-us{
  width: 481px;
  float:left;
  position: relative;
  padding-bottom: 80px;
}

.contacts{
  width: 560px;
  float:right;
  position: relative;
  padding-bottom: 80px;
}

.about-us__title,
.contacts__title{
  font-size: 47px;
  font-family: "Gilroy-bold","Arial", sans-serif;
  letter-spacing: 0.01em;
}

.about-us__title::before,
.contacts__title::before{
  content: "";
  position: absolute;
  left: 0;
  top: -10px;
  background-color: #000;
  width: 81px;
  height: 7px;
}

.about-us__text,
.contacts__text{
  font-size: 15px;
  letter-spacing: 0.01em;
  font-family: "OpenSans","Arial", sans-serif;
  line-height: 30px;
  margin-bottom: 31px;
}

.contacts__text{
  width: 560px;
  margin-bottom: 32px;
}

.about-us__list{
  display:inline-block;
  vertical-align: top;
  margin-top: 25px;
  padding-left: 5px;
}

.about-us__item{
  margin-top: 21px;
  list-style-type: circle;
  list-style-image: url("../img/icons/list-style.png");
  margin-left:15px;
}

.about-us__list a{
  color:#000;
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 16px;
  text-decoration: none;
  margin-left: 18px;
}

.about-us__link:hover::before,
.contacts__link:hover::before,
.slider__more-info:hover::before{
  top: 0;
  height: 100%;
}

.about-us__link::before,
.contacts__link::before,
.slider__more-info::before{
  content: "";
  width: 100%;
  top: 15px;
  left: 0;
  height: 8px;
  position: absolute;
  z-index: -1;
  background-color: #ffc600;
}

.about-us__link, .contacts__link{
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color:#000;
  
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  padding: 10px 35px;
  letter-spacing: 0.2em;
  position: relative;
}
.about-us__link{
  margin-top: 52px;
}
.contacts__link{
  margin-top: 67px;
}

.contacts__map img{
  margin-top: 8px;
  margin-bottom: 0px;
}

/* footer
==================================================*/

.page-footer{
  min-height: 320px;
  background-color: #464646;
}

.footer-logo::after{
  content: "";
  display: block;
  width: 81px;
  height: 7px;
  position: absolute;
  bottom: -133px;
  background-color: #ffe27f;
}

.footer-logo a:hover{
  color:rgba(255,198,0,1);
}

.footer-logo a:active{
  color:rgba(255,198,0, .3)
}

.footer-logo{
  padding-top: 56px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.footer-logo a{
  text-decoration: none;
  color:#f7e184;
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Gilroy-bold","Arial", sans-serif;
}

.page-footer__contacts{
  margin-top: 12px;
}

.page-footer__contacts p{
  font-size: 15px;
  font-family: "OpenSans","Arial", sans-serif;
  color:#fff;
}

.footer-flex-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-menu{
  margin-top: 69px;
}

.footer-menu a:hover{
  color:rgba(255,255,255, 1)
}

.footer-menu a:active{
  color:rgba(255,255,255, 0.3)
}

.footer-menu a{
  color:rgba(255,255,255, 0.7);
  font-size: 15px;
  font-family: "OpenSans","Arial", sans-serif;
}

.special-menu.footer-menu li:first-of-type{
  width: 54px;
}

.footer-nav{
  margin-top: 29px;
}

.footer-nav__list{
  padding: 0;
  margin: 0;
}

.footer-nav__list li{
  list-style-type: none;
  margin-right: 31px;
  display: inline-block;
  vertical-align: top;
}

.footer-nav__item a:hover{
  color:rgba(255,255,255, .6);
}

.footer-nav__item a:active{
  color:rgba(255,255,255, .3);
}

.footer-nav__item a{
  text-decoration: none;
  color:rgba(255,255,255, 1);
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Gilroy-bold","Arial", sans-serif;
}

.social-links{
  width: 310px;
  font-size: 0;
  margin-right: auto;
  margin-left: auto;
}

.social-links__item a{
}

.social-links li{
  display: inline-block;
  vertical-align: top;
   margin-left: 59px;
}

.htmlacademy-logo{
  position: relative;
}

.phone-number{
  margin-top: 27px;
  font-size: 15px;
  font-family: "OpenSans",sans-serif;
  color:#fff;
}

.footer-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*catalog
==================================================*/

.breadcrumbs{
  padding:0;
  margin:0;
}

.breadcrumbs__item:not(.breadcrumbs__item--active)::after{
  content:"";
  top: 6px;
  right: 3px;
  width: 4px;
  height: 7px;
  background-position: -68px -47px;
  background-repeat: no-repeat;
  position: absolute;
  background-image: url(../img/icons/spritesheet.png);
}

.breadcrumbs__item:last-child a:hover{
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item{
  position: relative;
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 11px;
}

.breadcrumbs__item a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a:active{
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs__item a{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  text-decoration: none;
  margin-right: 25px;
}

/*navigation
==================================================*/

.catalog-nav{
  padding-bottom: 48px;
}

.catalog-nav__title{
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 47px;
  letter-spacing: 0.01em;
  padding-top: 4px;
  margin-bottom: 24px;
}

/*filter
==================================================*/

.product-filter{
  background-color: #efefef;
  width: 270px;
  float:left;
  margin-left:60px;
  min-height: 1280px;
  padding-left: 20px;
  position: relative;
}

.product-filter__title,
.content-sort__title{
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 1px;
  padding: 25px 0;
}

.product-filter__title{
  background-color: #dbdbdb;
  padding-bottom: 26.4px;
  margin-top: 0;
  background-color: #dbdbdb;
  padding-left: 26px;
  padding-bottom: 26.4px;
  margin-top: 0;
  margin-left: -21px;
}

.range-filter{
  margin-top: 70px;
  border-top: 2px solid black;
  margin-right: 69px;
  padding-bottom: 37px;
}

.range-filter__title{
  margin-top: 12px;
}

.range-filter__controls{
  position: relative;
  height: 28px;
  border-radius: 5px;
  overflow: hidden;
}

.scale{
  margin-top:17px;
  height:2px;
  background:#dcdcdc;
}

.bar{
  height:2px;
  background:#72ca00;
  margin-left:12px;
  width:100px;
}

  .toggle:active {
  border: 2px solid #fff;
  background: #63b000;
  box-shadow: 0px 2px 4px -2px black;
}

.toggle{
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #000000;
  background: #efefef;
  cursor: pointer;
  border-radius: 50%;
  top: 11px;
}

.max-toggle{
  left: 111px;
}

.range-filter__price input{
  margin-right: 16px;
  margin-left: 4px;
  margin-top: 6px;
  width: 43px;
  border: none;
  font-size: 14px;
  font-family: "Gilroy","Arial", sans-serif;
  text-align: left;
  border-radius: 5px;
  background-color: inherit;
}

.color-filter{
  border-top:2px solid black;
  margin-right: 69px;
}

.color-filter label{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  font-size: 14px;
  line-height: 40px;
  font-family: "Gilroy","Arial", sans-serif;
  cursor: pointer;
}

.color-filter input[type="checkbox"]{
  display: none;
}

.color-filter input[type="checkbox"] + label{
  display: block;
  position: relative;
}



.color-filter input[type="checkbox"] + label::before{
  content:"";
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 23px;
  height: 23px;
  background-position: -71px -5px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.4;
}

.color-filter input[type="checkbox"]:checked + label::before{
  background-position: -104px -5px;
  opacity: 0.7;
}


.color-filter input[type="checkbox"]:checked +  label:hover::before,
.color-filter input[type="checkbox"] +  label:hover::before  {
  opacity: 1;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}




.bluetooth-filter{
  margin-top: 30px;
  border-top:2px solid black;
  margin-right: 69px;
}

.bluetooth-filter label{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  font-size: 14px;
  line-height: 40px;
  font-family: "Gilroy","Arial", sans-serif;
}

.bluetooth-filter input[type="radio"]{
  display: none;
}

.bluetooth-filter input[type="radio"] + label{
  display: block;
  position: relative;
  cursor: pointer;
}

.bluetooth-filter input[type="radio"] + label::before{
  content:"";
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 24px;
  height: 23px;
  background-position: -177px -75px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.bluetooth-filter input[type="radio"]:checked + label::before{
  background-position: -211px -75px;
}

.search-on-site__button{
  background: inherit;
  border: none;
}

.button{
  border:none;
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: inherit;
  letter-spacing: 0.1em;
  color: #000;
}

.filter-button:hover::before{
  top: 0;
  height: 100%;
}

.button-popup:hover::before{
  top: 0;
  height: 100%;
}

.filter-button:active,
.button-popup:active,
.about-us__link:active,
.contacts__link:active,
.slider__more-info:active{
  color: rgba(0,0,0, 0.3)
}

.filter-button::before,
.button-popup::before{
  content: "";
  width: 100%;
  top: 15px;
  left: 0;
  height: 8px;
  position: absolute;
  z-index: -1;
  background-color: #ffc600;
}

.filter-button{
  cursor: pointer;
  margin-top: 32px;
  padding: 9px 44px;
  position: relative;
  z-index: 99;
}

/*catalog-content
==================================================*/

.catalog-item:hover .catalog-item__hover-block{
  visibility: visible;
  background: rgba(239, 239, 239, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  height: 380px;
  width: 100%;
}

.catalog-item__hover-block{
  visibility:hidden;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 187px;
  right: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 205px;
}

.catalog-item__add-to-basket{
  font-size: 18px;
  font-family: "Gilroy-bold","Arial", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  color:#000;
  padding:8px 35px;
  position: relative;
  z-index: 99;
}

.catalog-item__add-to-comparison:hover{
  color:rgba(0,0,0, 1);
}

.catalog-item__add-to-comparison:active{
  color:rgba(0,0,0, 0.3);
}

.catalog-item__add-to-comparison{
  font-size: 13px;
  font-family: "OpenSans","Arial", sans-serif;
  color:rgba(0,0,0, 0.6);
  text-decoration: none;
  margin-top:15px;
}

.catalog-item__add-to-basket:hover::before{
  height: 100%;
  top: 0;
}

.catalog-item__add-to-basket:active{
  color:rgba(0,0,0, 0.3);
}

.catalog-item__add-to-basket::before {
  content: "";
  width: 100%;
  top: 13px;
  left: 0;
  height: 8px;
  position: absolute;
  z-index: -1;
  background-color: #ffc600;
}

.content-sort__title{
  margin-bottom:0;
}

.catalog-list{
  margin-top: 70px;
}

.catalog-content{
  float:right;
  width: 759px;
}

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex1, .flex2{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

.flex1{
  background-image: -webkit-linear-gradient(top, #dbdbdb 70px, #efefef 52px);
  background-image: linear-gradient(to bottom, #dbdbdb 70px, #efefef 52px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 329px;
}

.flex2{
  background-image: -webkit-linear-gradient(top, #ebebeb 70px,#fff 52px);
  background-image: linear-gradient(to bottom, #ebebeb 70px,#fff 52px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block{
  padding: 10px;
  border: 1px solid black;
}

.flex1 .product-filter{
  margin-left: auto;
}

.flex2 .catalog-content{
  width: 761px;
  margin-right: auto;
  margin-left: 71px;
}

.content-sort{
  background-color: #ebebeb;
  position: relative;
}

.content-sort__title{
 float:left;
}

.content-sort__item a:hover{
  color: rgba(0, 0, 0, 0.6);
}

.content-sort__item a:active{
  color: rgba(0, 0, 0, 0.1);
}

.content-sort__item a{
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.content-sort__item--active a{
  color: rgba(0, 0, 0, 0.8);
}

.sort-up-down{
  float:right;
  margin-right: 40px;
  position: relative;
}

.sort-up-down li{
  list-style-type: none;
}

.sort-up-down__item-down a:hover{
  border-bottom: 10px solid #999999;
}

.sort-up-down__item-down a:active{
  border-bottom: 10px solid #000000;
}

.sort-up-down__item-up a:hover{
  border-bottom: 10px solid #999999;
}

.sort-up-down__item-up a:active{
  border-bottom: 10px solid #000000;
}

.sort-up-down__item-up a{
  position: absolute;
  top: 4px;
  right: 0px;
  border: 10px solid transparent;
  border-bottom: 10px solid #bcbcbc;
}

.sort-up-down__item-down a{
  position: absolute;
  top: 14px;
  right: -42px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: 10px solid transparent; border-bottom: 10px solid #000;
}

.content-sort__list{
  padding-top: 25px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-left: 19px;
  width: 450px;
}

.content-sort__list li{
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin-right:26px;
}

.catalog-item:nth-child(even){
  margin-right: 0;
}

.catalog-item--new::before{
  position: absolute;
  top: 27px;
  right: 24px;
  content: url("../img/icons/new.png");
}
.catalog-item{
  float: left;
  margin-right: 39px;
  margin-bottom: 53px;
  position: relative;
}

.catalog-item__title a{
  width: 256px;
  float:left;
}
.catalog-item__title {
  margin-top: 30px;
}
.catalog-item__price {
  margin-left: 26px;
  font-size: 16px;
  color:#444444;
  letter-spacing: 0.01em;
  font-family: "Gilroy","Arial", sans-serif;
}

.catalog-item__title a,
.range-filter__title,
.color-filter__title,
.bluetooth-filter__title{
  font-size: 18px;
  font-family: "Gilroy-bold","Arial", sans-serif;
  letter-spacing: 0.01em;
  text-decoration: none;
  color:#000;
}

.catalog-item__descr span{
  color:#efefef;
  font-size: 16px;
}
.bluetooth-filter__title {
  margin-bottom: 18px;
}
.color-filter__title{
  margin-top: 11px;
  margin-bottom: 20px;
}
.pages-control{
  width:760px;
  margin-top: -13px;
  display: inline-block;
  vertical-align: top;
  background-color: #ebebeb;
}

.pages-control__list{
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages-control__item{
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}
.pages-control__inner-ite{
  display: inline-block;
  list-style-type: none;
}
.pages-control__item a,
.pages-control__inner-item a{
  font-family: "Gilroy-bold","Arial", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: inherit;
  letter-spacing: 0.1em;
  color: #000;
}

.pages-control__item a:hover{
  background-color: #d9d9d9;
}

.pages-control__item a:active{
  background-color: #d9d9d9;
  color: rgba(0,0,0, 0.3)
}

.pages-control__item a{
  display: block;
  padding: 25px;
}

.pages-control__inner-item a{
  color: rgba(0,0,0, 0.3);
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.pages-control__inner-item--active a{
  color: rgba(0,0,0, 1)
}

.pages-control__inner-item a:hover{
  color: rgba(0,0,0, 0.5)
}

.pages-control__inner-item a:active{
  color: rgba(0,0,0, 1)
}

.pages-control__inner-item{
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
}

.pages-control__inner-list{
  padding-left: 18px;
  margin-top: 25px;
  list-style-type: none;
}

/*sprite
==================================================*/

.search-on-site::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 5px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -245px -75px;
}

.footer-menu .user-block a::before{
  background-position: -168px -156px;
}

.footer-menu .user-block a:hover::before{
  background-position: -214px -156px;
}

.footer-menu .user-block a:active::before{
  background-position: -191px -156px;
}

.footer-menu .sprite-compare:hover::before{
  background-position: -177px -5px;
}

.footer-menu .sprite-compare:active::before{
  background-position: -157px -5px;
}

.footer-menu .sprite-cart:hover::before{
  background-position: -49px -5px;
}

.footer-menu .sprite-cart:active::before{
  background-position: -27px -5px;
}

.user-block a::before{
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  top: 4px;
  left: -24px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -25px -47px;
}

.sprite{
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
}

.sprite-cart::before{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: -24px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}

.sprite-cart{
    width: 12px;
    height: 12px;
    background-position: -5px -5px;
}

.sprite-cart-active{
    width: 12px;
    height: 12px;
    background-position: -27px -5px;
}

.sprite-cart-hover{
    width: 12px;
    height: 12px;
    background-position: -49px -5px;
}

.sprite-checkbox{
    width: 23px;
    height: 23px;
    background-position: -71px -5px;
}

.sprite-checkbox-checked{
    width: 23px;
    height: 23px;
    background-position: -104px -5px;
}

.sprite-compare::before{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 6px;
  left: -24px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -137px -5px;
}

.sprite-compare{
    width: 10px;
    height: 10px;
    background-position: -137px -5px;
}

.sprite-compare-active{
    width: 10px;
    height: 10px;
    background-position: -157px -5px;
}

.sprite-compare-hover{
    width: 10px;
    height: 10px;
    background-position: -177px -5px;
}

.sprite-copyright{
    width: 27px;
    height: 34px;
    background-position: -137px -25px;
}

.sprite-copyright-active{
    width: 27px;
    height: 34px;
    background-position: -5px -69px;
}

.sprite-copyright-hover{
    width: 27px;
    height: 34px;
    background-position: -42px -69px;
}

.sprite-copyright:active::before{
  background-position: -5px -69px;
}

.sprite-copyright:hover::before{
  opacity: 1;
}

.sprite-copyright::before{
  content: "";
  position: absolute;
  right: -3px;
  width: 27px;
  height: 34px;
  background-position: -137px -25px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.sprite-facebook:hover::before{
  opacity: 1;
}

.sprite-facebook::before{
  content: "";
  position: absolute;
  width: 39px;
  height: 38px;
  background-position: -79px -69px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.sprite-facebook{
  width: 39px;
  height: 38px;
  background-position: -79px -69px;
}

.sprite-facebook-hover{
  width: 39px;
  height: 38px;
  background-position: -128px -69px;
}

.sprite-header-cart::before{
  content: "";
  position: absolute;
  top: 4px;
  left: -18px;
  width: 12px;
  height: 12px;
  background-position: -174px -25px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
}

.sprite-header-cart{
  width: 12px;
  height: 12px;
  background-position: -174px -25px;
}

.sprite-header-compare::before{
  content: "";
  position: absolute;
  top: 6px;
  left: -19px;
  width: 10px;
  height: 10px;
  background-position: -5px -47px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
}

.sprite-header-compare{
  width: 10px;
  height: 10px;
  background-position: -5px -47px;
}

.sprite-header-user{
  width: 13px;
  height: 12px;
  background-position: -25px -47px;
}

.sprite-twitter:hover::before{
  opacity: 1;
}

.sprite-twitter::before{
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-position: -177px -108px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.sprite-instagram:hover::before{
  opacity: 1;
}

.sprite-instagram::before{
  content: "";
  position: absolute;
  width: 39px;
  height: 38px;
  background-position: -5px -117px;
  background-image: url(../img/icons/spritesheet.png);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.sprite-instagram{
  width: 39px;
  height: 38px;
  background-position: -5px -117px;
}

.sprite-instagram-hover{
  width: 39px;
  height: 38px;
  background-position: -54px -117px;
}

.sprite-list-style{
  width: 10px;
  height: 10px;
  background-position: -48px -47px;
}

.sprite-menu-close{
  width: 55px;
  height: 55px;
  background-position: -103px -117px;
}
.sprite-twitter:active::before,
.sprite-facebook:active::before,
.sprite-instagram:active::before{
  opacity: 0.3;
}
.sprite-nav-arrow{
  width: 4px;
  height: 7px;
  background-position: -68px -47px;
}

.sprite-new{
  width: 60px;
  height: 60px;
  background-position: -197px -5px;
}

.sprite-radio{
  width: 24px;
  height: 23px;
  background-position: -177px -75px;
}

.sprite-radio-checked{
  width: 24px;
  height: 23px;
  background-position: -211px -75px;
}

.sprite-search{
  width: 16px;
  height: 16px;
  background-position: -245px -75px;
}

.sprite-twitter{
  width: 38px;
  height: 38px;
  background-position: -177px -108px;
}

.sprite-twitter-hover{
  width: 38px;
  height: 38px;
  background-position: -225px -108px;
}

.sprite-user{
  width: 13px;
  height: 12px;
  background-position: -168px -156px;
}

.sprite-user-active{
  width: 13px;
  height: 12px;
  background-position: -191px -156px;
}

.sprite-user-hover{
  width: 13px;
  height: 12px;
  background-position: -214px -156px;
}

/*fonts
==================================================*/

@font-face { 
  font-family: "Gilroy"; 
  src: local("Gilroy Light"), local("Gilroy-Light"), 
  url("../fonts/gilroylight.woff2") format("woff2"), 
  url("../fonts/gilroylight.woff") format("woff"), 
  url("../fonts/gilroylight.ttf") format("truetype"); 
  font-style: normal; 
} 
@font-face { 
  font-family: "Gilroy-bold"; 
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), 
  url("../fonts/gilroyextrabold.woff2") format("woff2"), 
  url("../fonts/gilroyextrabold.woff") format("woff"), 
  url("../fonts/gilroyextrabold.ttf") format("truetype"); 
  font-style: normal; 
}
@font-face {
    font-family: "OpenSans"; /* Имя шрифта */
    src: url(../fonts/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
   font-family: "OpenSans-regular"; /* Имя шрифта */
   src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
  }

/* TODO:
styleguid
hover
map

 */;